body {
	margin: 0 auto;
}
.box {
  width: 745px;
  height: 66px;
  position: relative;
  overflow: hidden;
  left: 6%;
}
.box b {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3673cf;
  box-shadow: inset -5px -5px 5px rgba(0,0,0,.6), 15px 15px 2px rgba(0,0,0,.04);
  position: absolute;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 745px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 745px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 745px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 745px; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 48px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 48px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 48px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 48px; }
}

.firstname {
	display:inline;
	float:left;
	position: relative;
	font:50px Helvetica, sans-serif;
	letter-spacing: 15px;
	color: rgba(0,0,255,0.5);
	font-weight:bold;
	bottom: 45%;
	left: 5%;
	bottom: 45%;

}
.firstname:after {
	content: "Daniel";

	position: absolute; left: 3px; top: 3px;

	color: rgba(255,0,0,0.5);   
	font-weight:bold;

}
.lastname {
	display:inline;
	position: relative;
	float: left;
	font:50px Helvetica, sans-serif;
	letter-spacing: 15px;
	color: rgba(0,0,255,0.5);
	font-weight:bold;
	padding-left: 2%;
	left: 7%;
	bottom: 43%;
}
.lastname:after {
	content: "Nguy";

	position: absolute; left: 25px; top: 2px;

	color: rgba(255,0,0,0.5); 
	font-weight:bold;
	padding-left: 2%;

}
.index-nav {
	width: 100%;
	height: 50px;
	background: black;
}
.home-navigation {
	width: 83%;
	padding-top: 1px;
	position:relative;
}
.home-navigation a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}
.home-navigation ul {
	position: absolute;
	width: 100%;
	right: 1%;
}
.home-navigation ul li {
	list-style: none;
	display: inline-block;
	margin-left: 20%;
}
.top-logo {
	width:1275px;
	height: 68px;
	background: white;

}
.home-body {
	background-color: white;
	color: black;
	text-align: center;
}
.index-header .header1, .header4 {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 85px;
	text-transform: uppercase;
	line-height: .5em;
}
.index-header .header2 {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	font-size: 35px;
	text-transform: uppercase;
	margin: -2% 0px;
}
.index-header .header3 {
	font-family: "Palatino Linotype", "Book Antiqua", serif;
	font-size: 45px;
	text-transform: uppercase;
}
.header4 {
	font-size: 30px;
}
.index-header .header5 {
	font-family: Arial, Helvetica, "sans-serif";
	font-size: 50px;
}
.navigation-container a {
	text-decoration: none;
}
.menu1:hover {
	background-color: white;
  	text-decoration:none;
  	color: black;
}
.menu1 {
	cursor:pointer;
	color: black;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
	margin-top:100px;
	margin-left: 25px;
	width: 150px;
	height:113px;
	border-radius:5px;
	border-width:1px;
	border-style:solid;
	border-color:white;
	line-height: 500%;
}
.about-img {
	width: 265px;
	height: 176px;
	display: inline-block;
	margin: 7% 12%;
}
.about-img img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}
.about-img .name-header {
	margin:0;
	padding:0;
	font-size: 55px;
	font-family: Arial, Helvetica, "sans-serif";
}
.about-img .name-title {
	font-size: 20px;
	font-family: Arial, Helvetica, "sans-serif";
}
.header-navigation {
	width: 100%;
	height: 70px;
	font-size: 18px;
	border-bottom: 1px solid rgb(159, 155, 155);
	-webkit-box-shadow: 0 4px 4px -2px #000000;
   -moz-box-shadow: 0 4px 4px -2px #000000;
        box-shadow: 0 4px 4px -2px #000000;
}
.header-navigation ul {
	float: right;
}
.header-navigation a {
	text-decoration: none;
	color: rgb(135, 135, 149);
}
.header-navigation ul li {
	list-style: none;
	display: inline-block;
	margin-right: 91px;
	font-family: Arial, Helvetica, "sans-serif";
}
.body-img {
	width: 100%;
	height: 250px;
	background: black;
}
.about-txt {
	display: inline-block;
	width: 430px;
}
.footer {
	width: 100%;
	height: 100px;
	background: black;
	color: white;
	overflow: hidden;
	position: relative;
}
.phone-email {
	display: inline-block;
	font-size: 12px;
	margin-left: 5%;
	margin-top: 2%;
}
.footer-container {
	display: inline-block;
	float: right;
	width: 22%;
	margin-top: 3%;
}
.footer-container a {
	margin-left: 8%;

}
.copyright {
	display: inline-block;
	font-size: 12px;
	position: absolute;
	left: 40%;
	top: 30%;
}
.skills-content h1 {
	  margin: 6% 41%;
  width: 205px;
  font-size: 50px;
}
.skillset {
	list-style: none;
	margin-top: 8%;
}
.skillset li {
	  display: inline-block;
  border: 1px solid black;
  margin-left: -4px;
  height: 160px;
  width: 24%;
  text-align: center;
  position: relative;
  line-height: 150px;
  font-size: 25px;
  font-family: Arial, Helvetica, "sans-serif";
}
.skillset li:hover {
	color: white;
	background-color: black;
}
.resume {
	text-decoration: none;
  	display: inline-block;
  	border: 1px solid black;
  	height: 50px;
  	width: 160px;
  	text-align: center;
  	line-height: 48px;
  	margin: 8% 43%;
  	color: white;
  	font-size: 18px;
  	background: black;
  	border-radius: 8%;
}
.resume:hover {
	background:red;
}
.contact-content h1 {
	margin: 8% 38%;
	font-size: 30px;
	font-family: Arial, Helvetica, "sans-serif";
}
.form-container {
	height: 500px;
	width: 66%;
	margin: 7% 17%;
	border: 1px solid black;
	margin-bottom: 13%;
}
.contact-form {
	width: 115%;
	margin: 7% 12%;
}
.contact-form .name, .email {
	height: 44px;
  	width: 32%;
  	display: inline-block;
}
.contact-form .email {
	margin-left: 1%;
}
.contact-form .subject {
	width: 67%;
	height: 44px;
	margin: 5% 0%;
}
.contact-form input {
	font-size: 20px;
	padding-left: 1%;
}
.contact-form textarea {
	width: 67%;
	height: 134px;
	font-size: 20px;
	padding-left: 1%;
}
button {
	width: 67%;
	height: 50px;
	margin-top: 5%;
	font-size: 20px;
}
button:hover {
	cursor: pointer;
	background: black;
	color: white;
}